In [14]:
import pandas as pd

# Initialize empty lists to store data
author_ids = []
texts = []

def readfile(filename):
# Open and read the file line by line
    with open(filename, 'r') as file:
        lines = file.readlines()

        # Initialize flags
        is_author_line = False
        is_body_text = False

        # Iterate through each line in the file
        for line in lines:
            # Extract author id
            if 'author id=' in line:
                author_id = line.split('"')[1]
                author_ids.append(author_id)
                is_author_line = True
            elif is_author_line:
                is_author_line = False

            # Extract text between <body> and </body>
            if '<body>' in line:
                is_body_text = True
                body_text = ''
            elif '</body>' in line:
                is_body_text = False
                text=body_text.strip()
                cleaned_text = text.replace('\n', '')
                texts.append(cleaned_text)
            elif is_body_text:
                body_text += line

    # Create a pandas DataFrame
    df = pd.DataFrame({'AuthorID': author_ids, 'Text': texts})
    return df

# Display the DataFrame

In [15]:
df_train=readfile('SmallTrain.xml')

In [16]:
df_train.to_csv("Train.csv")

In [17]:
df_train

             AuthorID                                               Text
0              965226  <NAME/> McHargue will be backing up Jerry Wats...
1              543719  I'm sorry I missed your call. I know you are b...
2     x16198468117121  I'm doing fine.  We can't control all events e...
3              997109  <NAME/>, thank you very much for the invite, b...
4              464635  I was just looking at the confirm for April an...
...               ...                                                ...
2996           543719  fourknees@msn.com---JMF cell number 1-713-412-...
2997           997109  FYI.  Are you guys up to speed on this?  Thank...
2998           464635  Shawn seems like a nice person.  You should ta...
2999           543719  <NAME/>,We have asked every single counterpart...
3000           636010  Please see below.  Is there anything I can do ...

[3001 rows x 2 columns]

In [18]:
def readfile_text(filename):
# Open and read the file line by line
    with open(filename, 'r') as file:
        lines = file.readlines()
        texts=[]
        author_ids=[]
        # Initialize flags
        is_author_line = False
        is_body_text = False

        # Iterate through each line in the file
        for line in lines:

            # Extract text between <body> and </body>
            if '<body>' in line:
                is_body_text = True
                body_text = ''
            elif '</body>' in line:
                is_body_text = False
                text=body_text.strip()
                cleaned_text = text.replace('\n', '')
                texts.append(cleaned_text)
            elif is_body_text:
                body_text += line

    # Create a pandas DataFrame
    df = pd.DataFrame({ 'Text': texts})
    return df

def readfile_Label(filename):
# Open and read the file line by line
    with open(filename, 'r') as file:
        lines = file.readlines()
        texts=[]
        author_ids=[]
        # Initialize flags
        is_author_line = False
        is_body_text = False

        # Iterate through each line in the file
        for line in lines:
            # Extract author id
            if 'author id=' in line:
                author_id = line.split('"')[1]
                author_ids.append(author_id)
                is_author_line = True
            elif is_author_line:
                is_author_line = False
    # Create a pandas DataFrame
    df = pd.DataFrame({ 'AuthorID': author_ids})
    return df

In [19]:
df_val_text=readfile_text('SmallValid+.xml')
df_val_text.head(),df_val_text.shape

(                                                Text
 0  We need to keep our communications open to the...
 1  $2.00 is a fixed rate per MW.  It is a semi da...
 2  please see attached outages for march and apri...
 3  Here is the Kennedy letter. Sorry for the over...
 4  He can net imbalances together by "booking out...,
 (601, 1))

In [20]:
df_val_text

                                                  Text
0    We need to keep our communications open to the...
1    $2.00 is a fixed rate per MW.  It is a semi da...
2    please see attached outages for march and apri...
3    Here is the Kennedy letter. Sorry for the over...
4    He can net imbalances together by "booking out...
..                                                 ...
596  <NAME/>,I received this message yesterday from...
597  Good job on the trade to Florida.  We have'nt ...
598  Dale, what is the status of your research on t...
599  I still have a need for an Analyst within the ...
600  <NAME/>, here is a blank PAA form to fill out ...

[601 rows x 1 columns]

In [21]:
df_val_label=readfile_Label('GroundTruthSmallValid+.xml')
df_val_label.head(),df_val_label.shape

(          AuthorID
 0           797711
 1           264242
 2           797711
 3           636010
 4  x16198468117121,
 (601, 1))

In [22]:
df_valid=pd.concat([df_val_label,df_val_text],axis=1)
df_valid.to_csv("Valid.csv")

In [23]:
df_test_text=readfile_text('SmallTest+.xml')
df_test_text.head(),df_val_text.shape

(                                                Text
 0  I'll give him 10.00.  Thanks.  (You could have...
 1  <NAME/>, just wanted to follow up to be sure y...
 2  Lets see if this works.  My response is down b...
 3  I'm cool.  How are  the kitties?  <NAME/> is s...
 4  Murli,Friday may be tough b/c we just bought a...,
 (601, 1))

In [24]:
df_test_label=readfile_Label('GroundTruthSmallTest+.xml')
df_test_label.head(),df_val_label.shape

(                   AuthorID
 0  x16411411597461516979798
 1                    997109
 2                    464635
 3                    464635
 4                    631383,
 (601, 1))

In [25]:
df_test=pd.concat([df_test_label,df_test_text],axis=1)
df_test.to_csv("Test.csv")

In [26]:
df_test

,AuthorID,Text
0,x16411411597461516979798,I'll give him 10.00. Thanks. (You could have...
1,997109,"<NAME/>, just wanted to follow up to be sure y..."
2,464635,Lets see if this works. My response is down b...
3,464635,I'm cool. How are the kitties? <NAME/> is s...
4,631383,"Murli,Friday may be tough b/c we just bought a..."
...,...,...
629,x8464695915,Hey what's Happening?Just wanted to let you kn...
630,636010,Thanks for the e-mail. Due the number of agre...
631,997109,"<NAME/>, are you going to wait for input befor..."
632,997109,"Jan, thanks for the update. This helps me to ..."
633,636010,can you check to see if we have sent confirms ...